body{
    text-align: center;
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    display: inline-block;
     
}
.o{
    position: relative;
}
.o:after{
    position: absolute;
    content: "\1F645";
    font-size: 60px; /* usando fontsize porque o navegador interpreta a imagem como texto */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.x{
    position: relative;
}
.x:after{
    position: absolute;
    content: "\1F646";
    font-size: 60px; /* usando fontsize porque o navegador interpreta a imagem como texto */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}